<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
    bootstrap="../../vendor/autoload.php"
    displayDetailsOnTestsThatTriggerWarnings="true"
    executionOrder="depends,defects"
    beStrictAboutOutputDuringTests="true"
    failOnRisky="true"
    failOnWarning="true"
    defaultTestSuite="default"
    cacheResult="true"
    cacheDirectory="../../.phpunit/harness/cache"
    requireCoverageMetadata="true"
    beStrictAboutCoverageMetadata="false">
    <testsuites>
        <testsuite name="default">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <coverage
        includeUncoveredFiles="true"
        pathCoverage="false"
        ignoreDeprecatedCodeUnits="true"
        disableCodeCoverageIgnore="true">
        <report>
            <html outputDirectory="../../.phpunit/harness/coverage" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>
    <source>
        <include>
            <directory suffix=".php">../../harness</directory>
        </include>
    </source>
</phpunit>